In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [37]:
import pandas as pd
import pandas_datareader.data as pdr
import datetime

# 티커 목록 읽기
codes = pd.read_csv('tickers.csv')
tickers = codes['ticker'].tolist()  # 'ticker' 컬럼의 모든 값들을 리스트로 변환

# 시작 날짜 설정
start_date = datetime.datetime(2010, 1, 1)

# 수정 종가를 저장할 빈 데이터프레임 생성
adj_close_prices = pd.DataFrame()

# 각 티커에 대해 데이터 가져오기
for ticker in tickers:
    try:
        data = pdr.get_data_yahoo(ticker, start_date)
        adj_close_prices[ticker] = data['Adj Close']
    except Exception as e:
        print(f"Error retrieving data for {ticker}: {e}")

# 최종 데이터프레임 반환
adj_close_prices.head()  # 예시로 처음 몇 줄만 보여줍니다.

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,SPY,QQQ,IWM,VGK,EWJ,EWY,EWH,VEA,VWO,DBC,GLD,TLT,HYG,LQD,TIP,IEF,BND,SHY,BIL
Date,,,,,,,,,,,,,,,,,,,
2009-12-31,85.676865,40.198441,51.381504,29.699144,31.089291,38.221512,10.241997,22.460712,27.985741,22.663845,107.309998,61.581600,39.183720,63.403767,73.492775,66.749855,52.926365,71.629669,81.801941
2010-01-04,87.129929,40.787132,52.648758,30.605789,31.887266,39.593452,10.503605,23.064915,28.941357,23.234581,109.800003,61.526814,39.491493,63.738602,73.683762,66.915604,52.987003,71.724655,81.766258
2010-01-05,87.360573,40.787132,52.467701,30.556786,32.078770,39.609497,10.601709,23.078041,29.036911,23.262199,109.699997,61.924160,39.678894,64.042953,73.924271,67.209404,53.141869,71.810982,81.748444
2010-01-06,87.422096,40.541115,52.418346,30.740576,32.206470,40.179131,10.634410,23.084614,29.214382,23.676441,111.510002,61.095234,39.781456,63.854286,73.733246,66.938179,53.121708,71.819687,81.748444
2010-01-07,87.791115,40.567474,52.805092,30.544525,31.919191,39.360794,10.634410,23.038647,28.961828,23.381866,110.820000,61.198009,39.942066,63.933353,73.846436,66.938179,53.081276,71.802292,81.748444

In [38]:
adj_close_prices.to_csv('dataset.csv')